h1 {
    text-align: center;
    font-size: 50px;
    font-family: Georgia, serif;
    font-weight: lighter;
}

img {
    display: block;
    margin: 0 auto;
}

.list-of-recipes {
    color: red;
}

.list-of-recipes a {
    color: black;
}