body {
    background-color: rgb(255, 246, 233);
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: Georgia, serif;
    font-weight: lighter;
}

img {
    display: block;
    margin: auto;
}

h2 {
    padding-left: 300px;
}

p {
    padding-left: 300px;
    padding-right: 300px;
}

ol {
    padding-left: 315px;
    padding-right: 300px;
}

div {
    height: fit-content;
    width: fit-content;
    margin-left: 300px;
    border: 3px dashed lightblue;
}

.ingredient-list {
    padding-left: 0px;
}

.ingredients {
    padding-left: 15px;
}

.food-image {
    border: solid 4px;
}

.list-of-recipes {
    color: red;
    font-size: 18px;
    position: relative;
    left: 300px;
}

.list-of-recipes a {
    color: black;
}